@model MVCWebEntityCore.Models.Courses

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Courses</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourseDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourseTutor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseTutor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourseFees)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseFees)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourseCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseCategory.CourseCategoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CoursesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
