@model IEnumerable<MVCWebEntityCore.Models.Courses>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CourseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseTutor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseFees)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseTutor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseFees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseCategory.CourseCategoryId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CoursesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CoursesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CoursesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
